
@font-face {
    font-family: 'CircularBold';
    src: url('../../../assets/fonts/circular-bold.ttf');
}

div.properties {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.2px #212121 solid;
}

img.size {
    width: 135px;
    height: 132px;
    vertical-align:middle;
}

span.year {
    font-size: 10px;
    color: white;
}

span.title {
    font-family: 'CircularBold';
    font-size: 30px;
    margin-left: 10px;
    color: white;
}